body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  background-color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: normal;
}

.main-header {
  background-color: #293449;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px;
}

.section-header-up {
  background-color: #293449;
}

.head-logo {
  background-image: url(../img/index/technomart.svg);
  width: 220px;
  height: 47px;
  /* display: inline; */
}

.head-logo:hover,
.head-logo:focus {
  background: url(../img/index/technomart-hover.svg);
}

.head-logo:active {
  background: url(../img/index/technomart-hover.svg);
}

.search-form input[type="search"] {
  color: #ffffff;
  background-color: #293449;
  border: 0px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:hover,
.search-form input[type="search"]:focus {
  background-color: #212a3a;
}

.site-point li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-point{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.site-point a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 41px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.site-point a:hover,
.site-point a:focus {
  background-color: #212a3a;
}

.site-point a:active {
  background-color: #161d29;
}

.site-point a.checkout {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 14px;
  padding-bottom: 13px;
  background-color: #63a63e;
}

.site-point a.checkout:hover,
.site-point a.checkout:focus {
  background-color: #5fbb2d;
}

.site-point a.checkout:active {
  background-color: #518534;
  color: #a8c29a;
}

.section-header-down {
  background-color: #f3f7f8;
}

.text-info {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 196px;
  height: 57px;
  margin: 0 0 0 53px;
  padding: 0;
}

.number {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px #ffffff solid;
  padding-left: 71px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin: 0px;
}

.headre-addres {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.login li {
  list-style: none;
}

.login a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  padding-left: 49px;
  padding-right: 50px;
  padding-top: 14px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.login a:last-child {
  margin-left: 10px;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: #b2b2b2;
}

.site-navigation {
  background-color: #32425c;
}

.site-navigation-button li {
  list-style: none;
}

.site-navigation-button a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding-left: 31px;
  padding-right: 32px;
  padding-top: 22px;
  padding-bottom: 26px;
}

.site-navigation-button a:hover,
.site-navigation-button a:focus {
  background-color: #1d2739;
}

.site-navigation-button a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.company-info {
  background-color: #ffffff;
  color: #000000;
}

.info-text {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

}

.info-text-small {
  font-size: 13px;
  line-height: 24px;
}

.transport-company-type {
  list-style-image:  url(../img/index/mark.png);
  font-size: 18px;
  line-height: 20px;
}

.company-details {
  color: #ffffff;
  padding: 14px 27px 12px 28px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 220px;
  height: 38px;
}

.company-details:hover,
.company-details:focus{
  background-color: #ca2c37;
}

.company-details:active{
  background-color: #ba2732;
}

.info-right h3 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.info-right-text {
  font-size: 13px;
  line-height: 24px;
}

.info-right a {
  color: #ffffff;
  padding: 14px 59px 12px 63px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 300px;
  height: 38px;
}

.info-right a:hover,
.info-right a:focus{
    background-color: #ca2c37;
}

.info-right a:active{
    background-color: #ba2732;
}

.main-footer {
  background-color: #32425c;
}

.footer-up {
  background-color: #32425c;
}

.footer-menu-top {
  margin: 0px 0px 0px 174px;
  padding: 0;
}

.footer-menu-top li {
  list-style: none;
  margin-left: 59px;
  margin-top: 42px;
}
.footer-menu-top li:first-child {
  margin-left: 0;
}

.footer-menu-up a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-up a:hover,
.footer-menu-up a:focus {
  text-decoration: underline;
}

.footer-menu-up a:active {
  color: #929caa;
  text-decoration: none;
}

.footer-addres {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 321px;
  height: 37px;
  margin: 0;
}

.footer-menu-bottom {
  margin: 0px 0px 0px 92px;
  padding: 0;
}

.footer-menu-bottom li {
  list-style: none;
  margin-left: 61px;
}
.footer-menu-bottom li:first-child {
  margin-left: 0px;
}

.footer-menu-down a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-down a:hover,
.footer-menu-down a:focus {
  text-decoration: underline;
}

.footer-menu-down a:active {
  color: #998a6e;
  text-decoration: none;
}

.footer-down {
  background-color: #293449;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 226px;
  height: 33px;
  padding: 0;
  margin: 0;
}

.footer-social li {
  list-style: none;
}

.vk a {
  background-image: url(../img/index/vk.png);
  width: 41px;
  height: 42px;
  display: block;
}

.vk a:hover,
.vk a:focus {
  background: url(../img/index/vk-hover.png);
}

.vk a:active {
  background: url(../img/index/vk-hover.png);
}

.fb a {
  background-image: url(../img/index/fb.png);
  width: 41px;
  height: 42px;
  display: block;
}

.fb a:hover,
.fb a:focus {
  background: url(../img/index/fb-hover.png);
}

.fb a:active {
  background: url(../img/index/fb-hover.png);
}

.instogram a {
  background-image: url(../img/index/insta.png);
  width: 41px;
  height: 42px;
  display: block;
}

.instogram a:hover,
.instogram a:focus {
  background: url(../img/index/insta-hover.png);
}

.instogram a:active {
  background: url(../img/index/insta-hover.png);
}

.footer-developer p {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.footer-developer a {
  color: #f1c77c;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.footer-developer a:hover,
.footer-developer a:focus {
  text-decoration: underline;
}

.footer-developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.username {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.username::before {
  content: "";
  background-image: url(../img/catalog/user.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -30px;
  margin-top: 1px;
  position: absolute;
}

.username::before {
  content: "";
  background-image: url(../img/catalog/user.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -34px;
  margin-top: 1px;
  position: absolute;
}

.username:hover::before,
.username:focus::before {
  background-image: url(../img/catalog/user-hover.png);
}

.username::after {
  content: "";
  background-image: url(../img/catalog/logout.png);
  width: 21px;
  height: 17px;
  background-repeat: no-repeat;
  margin-left: 38px;
  margin-top: 2px;
  position: absolute;
}

.username:hover::after,
.username:focus::after {
  background-image: url(../img/catalog/logout-hover.png);
}

.username:active {
  color: #cacaca;
}

.username:active::before {
  background-image: url(../img/catalog/user.png);
}

.username:active::after {
  background-image: url(../img/catalog/logout.png);
}

.entrance-user li {
  list-style: none;
}

.entrance-user a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.entrance-user a:hover,
.entrance-user a:focus {
  color: #ee3643;
}

.entrance-user a:active {
  color: #cacaca;
}

.my-orders a::after {
  content: "";
  background-image: url(../img/catalog/dot.png);
  width: 4px;
  height: 5px;
  background-repeat: no-repeat;
  margin-left: 16px;
  margin-top: 10px;
  position: absolute;
}

.navigation li:not(:first-child) {
  list-style-image:  url(../img/catalog/right-small.png);
}

.navigation a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.general-product {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  font-weight: normal;
}

.filters {
  color: #000000;
  text-transform: uppercase;
}

.filter-head {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  width: 220px;
  height: 38px;
}

.legend-form {
  font-weight: bold;
}

.field-border {
  border: 0px;
}

.filters button {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e5e5e5;
  width: 138px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.info {
  background-color: #f2f6f8;
  color: #000000;
}

.perforators-head {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.perforators-info {
  font-size: 13px;
  line-height: 24px;
}

.section-header-up {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 940px;
}

.search-form {
  width: 270px;
}

.section-header-down {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 940px;
  margin-bottom: 47px;
  padding-top: 46px;
}

.center-form {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: row;
}

.site-navigation-button {
 width: 940px;
 display: flex;
 flex-direction: row;
 flex-grow: 1;
 margin-bottom: 60px;
}

.navigation-button {
  display: flex;
  flex-grow: 1;
}

.main-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-up {
  width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-footer-up {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-footer-down {
  width: 940px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 53px;
}

.footer-menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-down-section {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 35px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header-bottom {
  background-color: #f3f7f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 86px;
}

.info-left {
  width: 520px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-right {
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
