body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  font-weight: normal;
}

.main-header {
  background-color: #293449;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-header-up {
  background-color: #293449;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 940px;
  height: 42px;
}

.head-logo {
  background-image: url(../img/index/technomart.svg);
  width: 220px;
  height: 47px;
}

.head-logo:hover,
.head-logo:focus {
  background: url(../img/index/technomart-hover.svg);
}

.head-logo:active {
  background: url(../img/index/technomart-hover.svg);
}

.search-form input[type="search"] {
  color: #ffffff;
  background-color: #293449;
  border: 0px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:hover,
.search-form input[type="search"]:focus {
  background-color: #212a3a;
}

.site-point li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-point{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.site-point a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 41px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.site-point a:hover,
.site-point a:focus {
  background-color: #212a3a;
}

.site-point a:active {
  background-color: #161d29;
}

.site-point a.checkout {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 14px;
  padding-bottom: 13px;
  background-color: #63a63e;
}

.site-point a.checkout:hover,
.site-point a.checkout:focus {
  background-color: #5fbb2d;
}

.site-point a.checkout:active {
  background-color: #518534;
  color: #a8c29a;
}

.section-header-down {
  background-color: #f3f7f8;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 940px;
  margin-bottom: 40px;
  margin-top: 46px;
  padding: 0px;
}

.text-info {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 200px;
  height: 57px;
  margin: -6px 0 0 52px;
  padding: 0;
}

.number {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px #ffffff solid;
  margin: 0;
  padding: 10px 50px 8px 70px;
}
.number::before {
  content: "";
  background-image: url(../img/index/phone.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -60px;
  margin-top: 1px;
  position: absolute;
}

.headre-addres {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin: 4px 0 0 8px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: -5px 16px 0 0;
  width: 281px;
  height: 45px;
}

.entrance a {
  padding: 12px 28px 11px 49px;
  width: 121px;
}

.registration a {
  padding: 12px 26px 11px 26px;
  width: 150px;
}

.entrance a::before {
  content: "";
  background-image: url(../img/index/login.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -30px;
  margin-top: 1px;
  position: absolute;
}
.entrance a:hover::before,
.entrance a:focus::before {
  background-image: url(../img/index/login-hover.png);
}

.login li {
  list-style: none;
}

.login a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.login a:last-child {
  margin-left: 10px;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: #b2b2b2;
}

.site-navigation {
  background-color: #32425c;
  padding: 0;
  margin: 0;
  width: 940px;
  min-height: 60px;
}

.site-navigation-button li {
  list-style: none;
  display: flex;
  text-align: center;
  margin: auto;
  flex-grow: 1;
}

.site-navigation-button a {
  color: #ffffff;
  text-align: center;
  flex-grow: 1;
  margin: auto;
  font-size: 17px;
  line-height: 17px;
  padding-top: 20px;
  padding-bottom: 24px;
}

.site-navigation-button a:hover,
.site-navigation-button a:focus {
  background-color: #1d2739;
}

.site-navigation-button a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.company-info {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  min-height: 448px;
  margin-bottom: 86px;
}

.info-text {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin: 76px 0 0 0;
  padding: 0;

}

.info-text-small {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 27px 0 0 0;
  padding: 0;
  width: 550px;
}

.info-text-small:last-of-type {
  margin: 24px 0 0 0;
}

.transport-company {
  margin: 0;
  padding: 0;
}

.transport-company-type {
  list-style-image:  url(../img/index/mark.png);
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 0 35px;
  padding: 0 0 0 0;
}

.company-details {
  color: #ffffff;
  padding: 13px 0 8px 0;
  margin: 37px 0 0 0;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 220px;
  height: 38px;
}

.company-details:hover,
.company-details:focus{
  background-color: #ca2c37;
}

.company-details:active{
  background-color: #ba2732;
}

.info-right-text {
  font-size: 15px;
  line-height: 24px;
  margin: 28px 0 0 0;
  padding: 0;
}

.info-right img {
  margin: 32px 0 38px 0;
}

.info-right a {
  padding: 13px 0 8px 0;
  margin: 0;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  width: 300px;
  height: 38px;
}

.info-right a:hover,
.info-right a:focus{
    background-color: #ca2c37;
}

.info-right a:active{
    background-color: #ba2732;
}

.main-footer {
  background-color: #32425c;
}

.footer-up {
  background-color: #32425c;
}

.footer-menu-top {
  margin: 0px 0px 0px 174px;
  padding: 0;
}

.footer-menu-top li {
  list-style: none;
  margin-left: 59px;
  margin-top: 38px;
}
.footer-menu-top li:first-child {
  margin-left: 0;
}

.footer-menu-up a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-up a:hover,
.footer-menu-up a:focus {
  text-decoration: underline;
}

.footer-menu-up a:active {
  color: #929caa;
  text-decoration: none;
}

.footer-addres {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  /* width: 350px; */
  height: 37px;
  margin: 0 0 0 2px;
}

.footer-menu-bottom {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-menu-bottom li {
  list-style: none;
}

.footer-menu-bottom li:nth-child(1) {
  margin-left: 91px;
}

.footer-menu-bottom li:nth-child(2) {
  margin-left: 60px;
}

.footer-menu-bottom li:nth-child(3) {
  margin-left: 60px;
}

.footer-menu-bottom li:nth-child(4) {
  margin-left: 59px;
}

.footer-menu-down a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-down a:hover,
.footer-menu-down a:focus {
  text-decoration: underline;
}

.footer-menu-down a:active {
  color: #998a6e;
  text-decoration: none;
}

.footer-down {
  background-color: #293449;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0 0 0 1px;
  margin: -1px 0 0 0;
}

.footer-social li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vk a {
  background-image: url(../img/index/vk.png);
  width: 41px;
  height: 42px;
  display: block;
  margin-left: 4px;
  margin-top: -4px;
}

.vk a:hover,
.vk a:focus {
  background: url(../img/index/vk-hover.png);
}

.vk a:active {
  background: url(../img/index/vk-hover.png);
}

.fb a {
  background-image: url(../img/index/fb.png);
  width: 41px;
  height: 42px;
  display: block;
  margin-left: 3px;
  margin-top: -4px;
}

.fb a:hover,
.fb a:focus {
  background: url(../img/index/fb-hover.png);
}

.fb a:active {
  background: url(../img/index/fb-hover.png);
}

.instogram a {
  background-image: url(../img/index/insta.png);
  width: 41px;
  height: 42px;
  display: block;
  margin-left: 3px;
  margin-top: -5px;
}

.instogram a:hover,
.instogram a:focus {
  background: url(../img/index/insta-hover.png);
}

.instogram a:active {
  background: url(../img/index/insta-hover.png);
}

.footer-developer-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.footer-developer-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.text-developer {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
  margin: 0 0 0 0;
}

.href-developer {
  color: #f1c77c;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.href-developer:hover,
.href-developer:focus {
  text-decoration: underline;
}

.href-developer:active {
  color: #ee3643;
  text-decoration: none;
}

.username {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  padding: 14px 69px 13px 48px;
  text-align: left;
  margin: -5px 0 7px 0;

  background-color: #ffffff;
}

.username::before {
  content: "";
  background-image: url(../img/catalog/user.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -30px;
  margin-top: 1px;
  position: absolute;
}

.username::before {
  content: "";
  background-image: url(../img/catalog/user.png);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  margin-left: -34px;
  margin-top: 1px;
  position: absolute;
}

.username:hover::before,
.username:focus::before {
  background-image: url(../img/catalog/user-hover.png);
}

.username::after {
  content: "";
  background-image: url(../img/catalog/logout.png);
  width: 21px;
  height: 17px;
  background-repeat: no-repeat;
  margin-left: 38px;
  margin-top: 2px;
  position: absolute;
}

.username:hover::after,
.username:focus::after {
  background-image: url(../img/catalog/logout-hover.png);
}

.username:active {
  color: #cacaca;
}

.username:active::before {
  background-image: url(../img/catalog/user.png);
}

.username:active::after {
  background-image: url(../img/catalog/logout.png);
}

.entrance-user {
  display: flex;
  flex-direction: row;
  margin: 0px 0 0 19px;
  padding: 0;
}

.entrance-user li {
  list-style: none;
}

.personal-area {
  margin: 0 0 0 33px;
}

.user-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;

}

.entrance-user a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.entrance-user a:hover,
.entrance-user a:focus {
  color: #ee3643;
}

.entrance-user a:active {
  color: #cacaca;
}

.my-orders a::after {
  content: "";
  background-image: url(../img/catalog/dot.png);
  width: 4px;
  height: 5px;
  background-repeat: no-repeat;
  margin-left: 16px;
  margin-top: 10px;
  position: absolute;
}

.navigation li:not(:first-child) {
  list-style-image:  url(../img/catalog/right-small.png);
}

.navigation a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.general-product {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  font-weight: normal;
  min-height: 60px;
  margin: 0 0 20px 0;
  padding: 29px 0 0 28px;
}

.filters {
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-head {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  font-weight: normal;
  margin: 0;
  height: 28px;
  padding: 10px 150px 0 19px;
}

.legend-form {
  font-weight: bold;
}

.field-border {
  border: 0px;
}

.filters button {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e5e5e5;
  width: 138px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.info {
  background-color: #f2f6f8;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.perforators-info {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 26px 0 67px 0;
  font-stretch: ultra-expanded;
  font-family: "PT Sans", "Arial", sans-serif;
}

.search-form {
  width: 270px;
}

.center-form {
  padding: 0;
  margin: 0 0px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-navigation-button {
 display: flex;
 flex-direction: row;
 padding: 0;
 margin: 0;
}

.main-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-up {
  width: 940px;
  height: 193px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.section-footer-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-footer-down {
  width: 940px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 53px;
}

.footer-menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-down-section {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 35px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 65px;
  padding: 0;
}

.main-header-bottom {
  background-color: #f3f7f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 278px;
  padding: 0;
  margin: 0;
}

.info-left {
  width: 520px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.info-right {
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 940px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 59px;
}

.navigation li:not(:first-child) {
  margin-left: 44px;
}

.head-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.sorting {
  display: flex;
  flex-direction: row;
  background-color: #f7f3ec;
  min-width: 700px;
  min-height: 38px;
  margin-left: 20px;
}
.sorting-kinds {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #f7f3ec;
}
.sorting-kinds a {
  color: #cacaca;
  font-size: 13px;
  height: 16px;
  margin: 0;
  padding: 10px 0 0 0;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}
.sorting-kinds a:nth-child(2) {
  margin: 0 65px 0 70px;
}

.sorting-kinds a:hover,
.sorting-kinds a:focus {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}
.sorting-kinds a:active {
  color: #ee3643;
  border: none;
}

.sorting-text {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  font-weight: normal;
  margin: 0;
  height: 28px;
  padding: 10px 140px 0 19px;
}

.product-block {
  display: flex;
  flex-direction: row;
  width: 940px;
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.field-border {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 0 0 20px;
}

.product-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.product-index {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 0 21px 0;
  padding: 0;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 49px 0 60px 0px;
}

.pagination-item {
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
}

.pagination-item:nth-of-type(2) {
  margin: 0 10px 0 10px;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid #bdc6ca;
  outline: 0;
  outline-offset: 0;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  outline: 0;
  outline-offset: 0;
}
.pagination-item:active {
  background-color: #ee3643;
  color: #ffffff;
  outline: 0;
  outline-offset: 0;
}

.pagination-item-next {
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  margin: 0 0 0 10px;
}

.pagination-item-next:hover,
.pagination-item-next:focus {
  border: 1px solid #bdc6ca;
  outline: 0;
  outline-offset: 0;
}

.pagination-item-next:active {
  border: 1px solid #ee3643;
  outline: 0;
  outline-offset: 0;
}
.pagination-item-next:active {
  background-color: #ee3643;
  color: #ffffff;
  outline: 0;
  outline-offset: 0;
}


.product-example-catalog {
  display: flex;
  flex-direction: column;
  min-width: 218px;
  min-height: 316px;
  border: 1px solid;
  border-color: #e5e5e5;
  margin: 20px 0 0 20px;
  padding: 0;
}

.product-example-catalog:nth-of-type(3n+1) {
  margin: 20px 0 0 0;
}

.product-example {
  display: flex;
  flex-direction: column;
  min-width: 218px;
  min-height: 316px;
  border: 1px solid;
  border-color: #e5e5e5;
}

.product-example:not(:first-child) {
  margin-left: 20px;
}

.product-name-catalog {
  order: 2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  padding: 0;
  margin: 9px 0 0 0;
}

.product-name {
  order: 2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  padding: 0;
  margin: 13px 0 0 0;
}

.product-photo {
  order: 1;
  margin: 0;
  padding: 0;
}

.product-price-old {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  text-decoration: line-through;
  color: #a9a9a9;
  padding: 0 0 0 3px;
  margin: 12px 0 0 0;
  order: 3;
  min-height: 18px;
}

.product-price-new {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  order: 4;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 28px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-price-new:after {
  content: "";

  position: absolute;
  top: -1px;
  right: -26px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.perforators-head {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-top: 68px;
  margin-bottom: 38px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
  margin: 66px 0 0 0;
}

.materials-categories {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
  background-image: url(../img/index/materials.svg);
}

.instruments-categories {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
  background-image: url(../img/index/instruments.svg);
}

.equipment-categories {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
  background-image: url(../img/index/equipment.svg);
}

.discounts-categories {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
  background-image: url(../img/index/discounts.svg);
}

.delivery-categories {
  display: flex;
  flex-direction: column;
  order: 3;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;
  background-image: url(../img/index/delivery-2.svg);
}

.category {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-top: 59px;
}

.slider-item:nth-child(1) {
  background-image: url(../img/index/perforators.png);
  background-repeat: no-repeat;
  min-width: 620px;
  min-height: 266px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/index/drills.png);
  background-repeat: no-repeat;
  min-width: 620px;
  min-height: 266px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.slider-item {
  display: none;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.checked {
  position: absolute;
}

.slider-controls {
  display: none;
}

.visually-hidden {
  position: relative;
  top: 238px;
  left: 296px;
  padding: 0;
  margin: 0 0 0 0;
  color: red;
}

.text-categories-slider {
  padding: 10px 49px 12px 50px;
  margin-left: 25px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
}

.text-categories-slider:hover,
.text-categories-slider:focus {
  background-color: #ca2c37;
}

.text-categories-slider:active {
  background-color: #ba2732;
}

.part-1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.part-1 div:not(:first-child) {
  margin-left: 20px;
}

.part-2 {
  display: flex;
  flex-direction: row;
  margin: 0 0 53px 0;
  padding: 0;
}

.slider-general {
  width: 620px;
  height: 266px;
  padding: 0;
  margin: 0;
  order: 1;
}

.part-2-right {
  display: flex;
  flex-direction: column;
  order: 2;
  margin: 20px 0 0 20px;
  padding: 0;
}

.part-2-right div:nth-child(1) {
  margin-bottom: 20px;
}

.popular-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 20px 0;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.popular-text {
  font-size: 30px;
  line-height: 30px;
  margin-left: 29px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.all-product {
  width: 252px;
  height: 28px;
  padding: 11px 0 0 1px;
  margin: 25px 25px 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.all-product:hover,
.all-product:focus{
  background-color: #ca2c37;
}

.all-product:active {
  background-color: #ba2732;
}

.all-manufacturers {
  width: 252px;
  height: 28px;
  padding: 11px 0 0 1px;
  margin: 25px 25px 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 3px;
}

.all-manufacturers:hover,
.all-manufacturers:focus{
  background-color: #ca2c37;
}

.all-manufacturers:active {
  background-color: #ba2732;
}

.manufacturers {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0 64px 0;
  padding: 0;
  width: 940px;
}

.manufacturers-example {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 218px;
  min-height: 144px;
  margin: 0 0 20px 0;
  padding: 0;
  border: 1px #eaeaea solid;
}

.services-section {
  width: 100%;
  min-height: 522px;
  background-color: #f4f8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-text {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 65px 0 25px 0;
  padding: 0;
}

.text-services {
  font-size: 14px;
  line-height: 24px;
  font-stretch: ultra-expanded;
  font-weight: bold;
  margin: 0 0 70px 0;
  padding: 0 0 0 0;
  width: 405px;
}

.services-block {
  width: 940px;
  height: 523px;
  margin: 0 0 0 0;
  padding: 0;
}

.services {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}

.services-menu {
  display: block;
  font-size: 21px;
  line-height: 30px;
  width: 218px;
  height: 48px;
  margin: 0;
  padding: 14px 0 0 22px;
  background-color: #32425c;
  color: #ffffff;
}

.services-menu:hover,
.services-menu:active {
  background-color: #ffffff;
  color: #000000;
}

.services-menu-sub {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 250px;
  top: -150px;
}

.services > li:hover .services-menu-sub,
.services > li:focus .services-menu-sub {
  display: block;
}

.services-flex {
  display: flex;
  width: 710px;
  flex-direction: row;

}

.services-general-flex {
  padding: 0 0 0 70px;
  margin: 0;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.services-text-flex {
  padding: 0 0 0 70px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}


.type-categories {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 20px 0 0 23px;
}

.text-categories {
  width: 135px;
  height: 28px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 14px 0 0 24px;
  padding: 10px 0 0 0;
}

.text-categories:hover,
.text-categories:focus {
  background: rgba(0, 0, 0, 0.3);
}

.text-categories:active {
  background: rgba(0, 0, 0, 0.5);
}

.type-categories-big {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 25px 0 0 25px;
}

.text-categories-small {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin: 1px 0 130px 25px;
}

.icon-up {
 background-image: url(../img/catalog/icon-up.svg);
 width: 10px;
 height: 11px;
 margin: 13px 0 0 47px;
}
.icon-up:hover,
.icon-up:focus {
  background-image: url(../img/catalog/icon-up-hover.svg);
}
.icon-up:active {
  background-image: url(../img/catalog/icon-up-active.svg);
}

.icon-down {
 background-image: url(../img/catalog/icon-down.svg);
 width: 11px;
 height: 10px;
 margin: 13px 0 0 22px;
}
.icon-down:hover,
.icon-down:focus {
  background-image: url(../img/catalog/icon-down-hover.svg);
}
.icon-down:active {
  background-image: url(../img/catalog/icon-down-active.svg);
}

.product-example .actions {
  position: relative;
  top: 0px;
  left: 0px;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  display: none;
}
.product-example .actions .buy,
.product-example .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-example .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-example:hover .actions {
  display: block;
}

.product-example-catalog .actions {
  position: relative;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  display: none;
}
.product-example-catalog .actions .buy,
.product-example-catalog .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-example-catalog .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-example-catalog:hover .actions {
  display: block;
}

.left-slider {
  position: relative;
  left: -600px;
  top: 115px;
}

.right-slider {
  position: relative;
  left: -67px;
  top: 115px;
}
